/* Font Definition */
/* Local Fonts */
@font-face {
  font-family: 'roboto';
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary: rgb(25, 146, 212);
  --background: rgb(226, 232, 240);
  --project: rgb(240, 180, 41);

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'roboto', sans-serif;
}

body {
  margin: 0;
}

.app {
  display: grid;
  grid-template-columns: clamp(240px, 20vw, 360px) 1fr;
  grid-template-rows: 200px 1fr;
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: white;
  grid-row: 1;
  display: grid;
  grid-template-rows: 2fr 3fr;
  grid-template-columns: repeat(9, 1fr);
  padding: 20px 50px;
  box-shadow:  0 4px 3px #ccc;
  z-index: 2;
}

.search {
  grid-row: 1;
  grid-column: 1 / 6;
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.profile {
  grid-row: 1;
  grid-column: 6 / -1;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  align-items: center;
}

.profile-image {
  border-radius: 50%;
  height: 60px;
}

.user {
  font-weight: bold;
}

#welcome-profile {
  height: 90px;
}

input[type="search"] {
  width: 100%;
  background-color: var(--background);
  border: none;
  border-radius: 20px;
  font-size: 1.1rem;
  padding: 4px 10px;
}

.welcome {
  grid-row: 2;
  grid-column: 1 / 5;
  display: grid;
  grid-template-rows: 90px;
  grid-template-columns:  90px 1fr;
  gap: 15px;
}

.welcome > #welcome-profile {
  grid-column: 1;
}

.welcome-message {
  display: grid;
  grid-template-rows: 2fr 3fr;
  justify-content: start;
  align-content: center;
}

.welcome-message * {
  margin: 0;
}
.welcome .hi {
  grid-row: 1;
  font-weight: bold;
  align-self: flex-end;
}

.welcome .user {
  grid-row: 2;
}

.user * {
  display: inline;
  font-weight: bold;
  font-size: 1.5rem;
}

.task-controls {
  grid-row: 2;
  grid-column: 6 / -1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.task-controls-button {
  background-color: var(--primary);
  color: white;
  font-size: 1.1rem;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  width: 115px;
}

.sidebar {
  background-color: var(--primary);
  color: white;
  grid-template-rows: auto auto auto 1fr;
  grid-column: 1;
  grid-row: 1 / -1;
  display: grid;
  gap: 60px;
  padding: 30px;
  align-items: start;
}

.sidebar svg {
  fill: white;
}

.logo svg {
  height: 3.5rem;
}

svg {
  height: 2rem;
}

.sidebar a {
  text-decoration: none;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  align-items: center;
  gap: 15px;
}

.logo a {
  grid-template-columns: 3.5rem 1fr;
}

.link a {
  grid-template-columns: 2rem 1fr;
}

.main {
  background-color: var(--background);
  grid-row: 2 / -1;
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  padding: 20px;
  gap: 20px;
}

.project-section {
  grid-column: 1 / 10;
  grid-row: 1 / -1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 20px;
}

.project {
  grid-column: span 6;
  grid-row: span 4;
  background-color: white;
  border-radius: 10px;
  border-left: 8px solid var(--project);
  padding: 20px
}

.main-side-section {
  grid-column: 10 / -1;
  grid-row: 1 / -1;
}

.announcements, .trending {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.trend > img {
  border-radius: 50%;
  height: 60px;
}