body {
  margin: 0;
  padding: 0;
}

#app {
  margin: 0;
  padding: 0;
}

#background {
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#calculator {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 75px;
  max-width: 450px;
  margin: 50px;
}

#calculator {
  max-height: 700px;
  max-width: 350px;
  border: 5px solid darkgray;
}

#display {
  background-color: black;
  color: white;
  min-height: 150px;
  width: 75%;
  padding: 10px;
  margin: 50px 25px 10px;
  position: relative;
  overflow: hidden;
}

#user-text {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: bolder;
  font-size: 3.5em;
  font-family: sans-serif;
  margin: 0px;
}

#inputs {
  margin: 10px 25px 50px;
}

.input-row {
  display: flex;
  gap: 15px;
  margin: 15px;
}

button {
  border-radius: 50%;
  border: none;
  min-width: 65px;
  min-height: 65px;
  font-weight: bold;
  font-size: x-large;
}

button.num-input {
  background-color: dimgrey;
  color: white;
}

button.function {
  background-color: lightgray;
  color: black
}

button.operator {
  background-color: orange;
  color: white;
}

button.num-input:active {
  background-color: white;
  color: dimgray;
}

button.function:active {
  background-color: white;
  color: lightgray
}

button.operator:active {
  background-color: white;
  color: orange;
}

div.zero {
  flex-grow: 2;
}

button.zero {
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}